<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>999094923352-udsrpj5uh8rfqcsb5bt5p7a8b4busjjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999094923352-udsrpj5uh8rfqcsb5bt5p7a8b4busjjh</string>
	<key>API_KEY</key>
	<string>AIzaSyDhvFQkBZci6-faJ6-Uag339lpSoB4P-LU</string>
	<key>GCM_SENDER_ID</key>
	<string>999094923352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darren.HBCRecord</string>
	<key>PROJECT_ID</key>
	<string>hbcrecord-5a3d4</string>
	<key>STORAGE_BUCKET</key>
	<string>hbcrecord-5a3d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:999094923352:ios:7b6b3ef4e4ef83bc</string>
	<key>DATABASE_URL</key>
	<string>https://hbcrecord-5a3d4.firebaseio.com</string>
</dict>
</plist>